body {
    margin-top: 60px;
}
/**********/

/**********/

.navbar-default {
    background-color: #121212;
    border-color: #121212;
}

    .navbar-default .navbar-nav > li > a {
        color: #fff;
    }

    .navbar-default .navbar-nav > li > a:hover {
        background-color: #222222;
        color: #fff;
    }

    .navbar-default .navbar-brand,
    .navbar-default .navbar-brand:hover {
        color: #ffffff;
    }

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #121212;
}

    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
        color: #fff;
        background-color: #222222;
    }

    .navbar-default .navbar-nav > .dropdown > a .caret, 
    .navbar-default .navbar-nav > .dropdown > a .caret:hover {
        border-bottom-color:#fff !important;
        border-top-color: #fff !important;
    }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: #ff0000;
}

/*********/

#wrapper {
    margin-bottom: 5px;
}

.thumbnail span {
    padding-top: 20px;
    padding-right: 10px;
}

/*******/
.enum-drop-down-list {
    width: 100px;
}

.text-box-100 {
    width: 100px;
}