body {
    padding-bottom: 20px;
    min-width: 600px;
}

/* Header styling */
.header-top {
    padding: 5px 35px 5px 35px;
}

.header-bottom {
    background-color: rgb(29, 230, 33) !important;
    padding: 20px 20px 10px 20px;
}
    .header-bottom #slogan {
        font: 20px 'Times New Roman';
        color: white;
    }

/* Nav Bar styling */
.navbar-default {
    background-color: #ff0000;
    border-color: #ff0000;
}

.navbar {
    border-radius: 0;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: #ff0000;
}

.navbar-default .navbar-nav > li > a {
    color: #dfdfdf;
}

    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        color: white;
    }

.nav > li {
    margin: 0 3px 0;
}

    .nav .active {
        border-bottom: 5px solid white;
    }

#wrapper {
    margin-top: -19px;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    /*padding-left: 15px;
    padding-right: 15px;*/
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*
    Bootstrap customization
*/
.row-custom {
    margin-right: -8px;
    margin-left: -7px;
}

.nav-pills > li > a {
    border-radius: 0;
    color: #121212;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    background-color: rgba(71, 64, 242, 0.20);
}

.nav > li > a:hover,
.nav > li > a:focus {
    background-color: #efefef;
}

.nav > li {
    margin: 0;
}

.badge-success {
    background-color: rgba(71, 64, 242, 0.20);
    border-radius: 6px 0;
    font-weight: normal;
}

/***************************/

/*
    Headers
*/
.header {
  padding: 10px 15px;
  margin-bottom: 0;
  border: 1px solid transparent;
  border-radius: 0;
}

.header-title {
    font-size: 1.2em;
}

.header-success {
    color: #fff;
    background-color: rgba(71, 64, 242, 0.60);
}

/*******************/

.text-line-through {
    text-decoration: line-through;
}

.border-left {
    border-left: 1px solid #ddd;
}

