@model LudogorieFood.Web.ViewModels.Shop.ProductViewModel
@using LudogorieFood.Web.Common

<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <img src="@Url.Content(GlobalConstants.ProductsImagesPath + "/" + Model.PictureName)" alt="...">
        <div class="caption">
            <div><strong>@Model.Name</strong></div>            
            <p>
                Цена:&nbsp;
                @if (Model.NewPrice != decimal.Zero)
                {
                    @:(<span class="text-line-through">&pound;@Model.Price</span>)&nbsp;&pound;@Model.NewPrice
                }
                else
                {
                    @:&pound;@Model.Price
                }
            </p>
            <div class="rateyo" data-productId="@Model.Id" rating="@Model.OverallRating"></div>
            @*<p>
                <a href="#" class="btn btn-primary" role="button">Информация</a>
            </p>*@
        </div>
    </div>
</div>