@model LudogorieFood.Web.Areas.Admin.ViewModels.Shop.ProductViewModel

@{
    ViewBag.Title = "Shop, Adding Product";
}


@Html.Partial("_ANavigationPartial", TempData["ActiveMenuName"])

<h3>Add new product</h3>

