
@{
    ViewBag.Title = "Shop";
}
<div class="row">
    <!-- Categories nav -->
    <div class="col-md-3">
        @Html.Partial("_CategoriesNavPartial")
    </div>

    <!-- Category items show panel -->
    <div class="col-md-9">
        Items Panel
    </div>
</div>

